:root {
    --navbar-bg-color: hsl(199, 100%, 97%);
    --navbar-text-color:darkblue;
    --navbar-text-color-focus: blue;
    --navbar-bg-contrast: hsl(199, 100%, 97%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 140%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

img{
    width:100%;
    max-width:600px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    background: white;
    padding: 5px;
    width: 48%;
    height: 150px;
    margin-top: 110px;
    line-height: 45px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.flex-item > img{
    width:100%;
    max-width:250px;
}

.findjob2{
    font-size: 0.3em;
    margin: -55px;
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 10px;
    color: white;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    color: white;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:#fc9d03;
    transition: width 0.4s linear;

}

.searchbar:hover > .search_icon{
    background: #fc9d03;
    color: white;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:grey;
    text-decoration:none;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}
.content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding-top: 100px;
    margin-top: 20px;

}

.content3 > img{
    width: 430px;
    max-width: 250px;
    padding: 50px;
}

.content4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-top: 10px;
    height: 15vh;
}
.content5 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

.containerPackage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.containerPackage .card {
    position: relative;
    width: 210px;
    height: 280px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    background: rgba(11,38,202,0.1);
    display: block;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.containerPackage .card .content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0.5;
}

.containerPackage .card:hover .content {
    transform: translateY(0);
    opacity: 1;
}

.containerPackage .card .content h2 {
    position: absolute;
    top: -90px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;

}

.containerPackage .card .content h3 {
    font-size: 1.8em;
    color: #297b9d;
    z-index: 1;
}

.containerPackage .card .content p {
    font-size: 1em;
    color: #297b9d;
    font-weight: 300;
}

.containerPackage .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.icon i {
    font-size: 136px;
    line-height: 1;
}

#footer {
    padding: 0 0 0 0;
    font-size: 14px;
    background: #fff;
    background-image: url("https://bestof.nyc3.digitaloceanspaces.com/devsnap.me/sam/css-y-svg-waves-animation.gif");
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f5f8fd;
    background-image: url("https://bestof.nyc3.digitaloceanspaces.com/devsnap.me/sam/css-y-svg-waves-animation.gif");

}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #535074;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    background: #1bb1dc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #0a98c0;
    color: #fff;
}

@media (max-width: 574px) {
    #footer .footer-top .social-links a {
        margin-bottom: 25px;
    }
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {

}

#footer .footer-top .footer-links ul a:hover {
    color: #1bb1dc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}



#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #1bb1dc;
    border: 1px solid #1bb1dc;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0a98c0;
}



.flex-container1 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    background-image: url("https://bestof.nyc3.digitaloceanspaces.com/devsnap.me/sam/css-y-svg-waves-animation.gif");

}

.flex-item-left {
    background-color: #f5f8fd;
    padding: 10px;
    flex: 50%;
    background: #929aca;
}

.flex-item-right {
    background-color: #f5f8fd;
    padding: 10px;
    flex: 50%;
    background: #929ACA;

}

.footer-ul{
    list-style: none;
    color: gray;
    font-size: medium;
    text-decoration: none;
}

.social-links-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.flex-item1{
    background-image: url("https://bestof.nyc3.digitaloceanspaces.com/devsnap.me/sam/css-y-svg-waves-animation.gif");
}

.mailbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    width: 120px;
    background-color: #f5f5f5;
    border-radius: 39px;
    color: white;
}




